body{
    background-color: beige;
}

h1{
    padding: 50px;
    border: solid 5px black;
    margin: 10px;
    background-color: burlywood;
    border-radius: 25px;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

a{
    border: solid 2px black;
    margin: 20px;
    padding: 20px;
    display: flex;
    background-color: cadetblue;
    text-align: center;
}